body {
	margin: 0;
	padding: 0;
	background-color: gray;
	color: black;
}

p {
	line-height: 1.5em;
	margin: 10px;
}

label {
	display: inline-bock;
	margin-right: 10px;
}

input {
	font-size: 13px;
	font-family: arial, verdana, sans serif;
}

h1 {
	font-size: 25px;
	color: blue;
}